
@{
    ViewBag.Title = "Posts";
}
<section class="section-30 section-md-40 section-lg-66 section-xl-bottom-90 bg-gray-dark page-title-wrap novi-background custom-bg-image" style="background-image: url(/Public/images/bg-image-1.jpg);">
    <div class="container">
        <div class="page-title">
            <h2>Blog</h2>
        </div>
    </div>
</section>
<section class="section-60 section-md-75 section-xl-100 novi-background bg-cover">
    <div class="container">
        <div class="row row-50 row-fix">
            <div class="col-lg-8 col-xl-9">
                <article class="post post-single">
                    <div class="post-image">
                        <figure>
                            <img src="~/Public/images/post-1-870x412.jpg" alt="" width="870" height="412" />
                        </figure>
                    </div>
                    <div class="post-header">
                        <h4>Choosing the Strategy</h4>
                    </div>
                    <div class="post-meta">
                        <ul class="list-bordered-horizontal">
                            <li>
                                <dl class="list-terms-inline">
                                    <dt>Date</dt>
                                    <dd>
                                        <time datetime="2018-01-22">January 22, 2018</time>
                                    </dd>
                                </dl>
                            </li>
                            <li>
                                <dl class="list-terms-inline">
                                    <dt>Posted by</dt>
                                    <dd>Amelia Lee</dd>
                                </dl>
                            </li>
                            <li>
                                <dl class="list-terms-inline">
                                    <dt>Category</dt>
                                    <dd>Marketing</dd>
                                </dl>
                            </li>
                        </ul>
                    </div>
                    <div class="divider-fullwidth bg-gray-light"></div>
                    <div class="post-body">
                        <p class="text-black">Perhaps you are a new entrepreneur about to launch a business or innovation you have been dreaming about for years. Or maybe you have an established business and things are going well, or maybe even too well. In both instances you are going to need capital – the “oxygen” that every business needs to grow and prosper.</p>
                        <p class="text-black">So now you are writing your first business plan or touching up the old one in anticipation of raising capital. Capital can only come into a business in one of two ways. Capital that is generated internally through positive cash flow from business operations (e.g., selling stuff), or from external funding sources. The new entrepreneur is limited to only one option – external funding sources. The established business is hopefully generating positive cash flow, but may require additional capital. Which funding option is best? Is it best that the capital come from only one source, or does it make more sense for the capital to come from multiple sources? How do you decide?</p>
                        <div class="post-blockquote inset-md-right-40 inset-xl-left-40 inset-xl-right-120">
                            <blockquote class="quote-minimal-bordered">
                                <p>
                                    <q>Not only should you post interesting content, you should try to blog at least three times a week as a business.</q>
                                </p>
                            </blockquote>
                        </div>
                        <p class="text-black-08">How you decide to capitalize the business is called your capital formation strategy. There are undoubtedly a number of other factors to consider depending on your company’s current circumstances, and, quite importantly, where you want your company to go in the next few years. If you are still hesitating what development strategy to pick for your company.</p>
                    </div>
                    <div class="post-footer">
                        <h6 class="text-medium">Share this post:</h6>
                        <ul class="list-inline list-inline-xs">
                            <li><a class="novi-icon icon icon-xxs-small link-primary fa-facebook" href="#"></a></li>
                            <li><a class="novi-icon icon icon-xxs-small link-primary fa-twitter" href="#"></a></li>
                            <li><a class="novi-icon icon icon-xxs-small link-primary fa-google-plus" href="#"></a></li>
                            <li><a class="novi-icon icon icon-xxs-small link-primary fa-pinterest-p" href="#"></a></li>
                        </ul>
                    </div>
                </article>
            </div>
            <div class="col-lg-4 col-xl-3">
                <div class="inset-lg-left-15">
                    <div class="row row-40">
                        <div class="col-md-6 col-lg-12">
                            <h6 class="text-small-16 font-weight-bold text-uppercase aside-title">Categories</h6>
                            <ul class="list-marked-bordered">
                                <li><a href="#"><span>Business</span><span class="text-dusty-gray">(2)</span></a></li>
                                <li><a href="#"><span>Marketing</span><span class="text-dusty-gray">(5)</span></a></li>
                                <li><a href="#"><span>Audit</span><span class="text-dusty-gray">(3)</span></a></li>
                            </ul>
                        </div>
                        <div class="col-md-6 col-lg-12 post-preview-wrap">
                            <h6 class="text-small-16 font-weight-bold text-uppercase aside-title">Popular posts</h6>
                            <article class="post post-preview offset-top-15">
                                <a href="blog-post.html">
                                    <div class="unit unit-horizontal unit-spacing-sm">
                                        <div class="unit-left">
                                            <figure class="post-image">
                                                <img src="~/Public/images/post-preview-1-70x70.jpg" alt="" width="70" height="70" />
                                            </figure>
                                        </div>
                                        <div class="unit-body">
                                            <div class="post-header">
                                                <p>How is that Strategic Alliance Working Out?</p>
                                            </div>
                                            <div class="post-meta">
                                                <ul class="list-meta">
                                                    <li>
                                                        <time datetime="2018-12-23">2018-02-04,Feb 4, 2018</time>
                                                    </li>
                                                    <li>4 Comment</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </article>
                            <article class="post post-preview offset-top-15">
                                <a href="blog-post.html">
                                    <div class="unit unit-horizontal unit-spacing-sm">
                                        <div class="unit-left">
                                            <figure class="post-image">
                                                <img src="~/Public/images/post-preview-2-70x70.jpg" alt="" width="70" height="70" />
                                            </figure>
                                        </div>
                                        <div class="unit-body">
                                            <div class="post-header">
                                                <p>The Fourth Industrial Revolution</p>
                                            </div>
                                            <div class="post-meta">
                                                <ul class="list-meta">
                                                    <li>
                                                        <time datetime="2018-12-23">2018-02-04,Feb 4, 2018</time>
                                                    </li>
                                                    <li>4 Comment</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </article>
                            <article class="post post-preview offset-top-15">
                                <a href="blog-post.html">
                                    <div class="unit unit-horizontal unit-spacing-sm">
                                        <div class="unit-left">
                                            <figure class="post-image">
                                                <img src="~/Public/images/post-preview-3-70x70.jpg" alt="" width="70" height="70" />
                                            </figure>
                                        </div>
                                        <div class="unit-body">
                                            <div class="post-header">
                                                <p>Attracting &amp; Retaining the Best Employees</p>
                                            </div>
                                            <div class="post-meta">
                                                <ul class="list-meta">
                                                    <li>
                                                        <time datetime="2018-12-23">2018-02-04,Feb 4, 2018</time>
                                                    </li>
                                                    <li>4 Comment</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </article>
                        </div>
                        <div class="col-md-6 col-lg-12">
                            <h6 class="text-small-16 font-weight-bold text-uppercase aside-title">Tags</h6>
                            <ul class="list-tag-blocks offset-top-22">
                                <li><a href="#">Planning</a></li>
                                <li><a href="#">support</a></li>
                                <li><a href="#">business</a></li>
                                <li><a href="#">company</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




@section p210JS {
    <script src="~/Public/js/test2.js"></script>
}