
@{
    ViewBag.Title = "Index";
}



<section class="section-30 section-md-40 section-lg-66 section-xl-bottom-90 bg-gray-dark page-title-wrap novi-background custom-bg-image" style="background-image: url(/Public/images/bg-image-1.jpg);">
    <div class="container">
        <div class="page-title">
            <h2>Services</h2>
        </div>
    </div>
</section>
<section class="section-60 section-md-90 novi-background bg-cover">
    <div class="container">
        <div class="row row-fix row-40">
            <div class="col-12">
                <h3 class="text-center">Services <span class="text-thin">Overview</span></h3>
                <p class="text-center">Reckondit offers a variety of services covering almost every need of modern <br class="d-none d-xl-inline-block"> businesses. Learn more about our services below.</p>
            </div>
            <div class="col-12">
                <div class="row justify-content-sm-center text-center text-lg-left row-60">
                    <div class="col-md-10 col-lg-4">
                        <div class="thumbnail-with-img">
                            <img src="~/Public/images/services-6-370x220.jpg" alt="" width="370" height="220" />
                            <h6 class="thumbnail-title"><a href="single-service.html">Audit & Accounting</a></h6>
                            <p class="text-black-05">Audit & accounting services assure your company’s compliance with requirements of applicable laws, financial reporting standards, regulations, rules, contracts, or grants, and can pave a road to your company’s success.</p>
                        </div>
                    </div>
                    <div class="col-md-10 col-lg-4">
                        <div class="thumbnail-with-img">
                            <img src="~/Public/images/services-7-370x220.jpg" alt="" width="370" height="220" />
                            <h6 class="thumbnail-title"><a href="single-service.html">Tax Planning</a></h6>
                            <p class="text-black-05">Proactive planning is the key to minimizing your tax liability. We work with businesses and individuals to pay the least amount of tax required by law. Your unique circumstances will determine the strategies...</p>
                        </div>
                    </div>
                    <div class="col-md-10 col-lg-4">
                        <div class="thumbnail-with-img">
                            <img src="~/Public/images/services-8-370x220.jpg" alt="" width="370" height="220" />
                            <h6 class="thumbnail-title"><a href="single-service.html">Consulting & Advisory</a></h6>
                            <p class="text-black-05">Consulting & advisory services provide strategic thinking and advice on the most valuable ways to enhance your business effectiveness that Reckondit can offer to its clients (including business advisory and consulting).</p>
                        </div>
                    </div>
                    <div class="col-md-10 col-lg-4">
                        <div class="thumbnail-with-img">
                            <img src="~/Public/images/services-9-370x220.jpg" alt="" width="370" height="220" />
                            <h6 class="thumbnail-title"><a href="single-service.html">Audit & Accounting</a></h6>
                            <p class="text-black-05">Audit & accounting services assure your company’s compliance with requirements of applicable laws, financial reporting standards, regulations, rules, contracts, or grants, and can pave a road to your company’s success.</p>
                        </div>
                    </div>
                    <div class="col-md-10 col-lg-4">
                        <div class="thumbnail-with-img">
                            <img src="~/Public/images/services-10-370x220.jpg" alt="" width="370" height="220" />
                            <h6 class="thumbnail-title"><a href="single-service.html">Tax Planning</a></h6>
                            <p class="text-black-05">Proactive planning is the key to minimizing your tax liability. We work with businesses and individuals to pay the least amount of tax required by law. Your unique circumstances will determine the strategies...</p>
                        </div>
                    </div>
                    <div class="col-md-10 col-lg-4">
                        <div class="thumbnail-with-img">
                            <img src="~/Public/images/services-11-370x220.jpg" alt="" width="370" height="220" />
                            <h6 class="thumbnail-title"><a href="single-service.html">Consulting & Advisory</a></h6>
                            <p class="text-black-05">Consulting & advisory services provide strategic thinking and advice on the most valuable ways to enhance your business effectiveness that Reckondit can offer to its clients (including business advisory and consulting).</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-60 section-md-100 context-dark bg-accent novi-background bg-cover">
    <div class="container text-center text-lg-left">
        <div class="row row-fix justify-content-sm-center align-items-lg-center justify-content-lg-start row-30">
            <div class="col-lg-8 text-center">
                <h3>affordable business advice</h3>
            </div>
            <div class="col-lg-4 col-xl-3"><a class="btn btn-xl btn-white-outline" href="#">Learn more</a></div>
        </div>
    </div>
</section>

