
@{
    ViewBag.Title = "Single";
}


@section pageName {
<a href="#">Single Service</a>    
}

<section class="section-30 section-md-40 section-lg-66 section-xl-bottom-90 bg-gray-dark page-title-wrap novi-background custom-bg-image" style="background-image: url(/Public/images/bg-image-1.jpg);">
    <div class="container">
        <div class="page-title">
            <h2>Single service</h2>
        </div>
    </div>
</section>
<section class="novi-background">
    <div class="container">
        <div class="row row-fix flex-lg-row-reverse align-items-lg-end justify-content-lg-end">
            <div class="col-md-11 col-lg-6 col-xl-5">
                <div class="section-60 section-md-90">
                    <h3>Management Services</h3>
                    <p>Engaging  the services of Investment Company can bring you the peace of mind that comes with knowing you've planned prudently for your future. We are committed to providing you with superior wealth management services. We can offer advice and comprehensive solutions for all of your financial planning needs. We are dedicated to placing your best interests first. Our entire investment philosophy and delivery of services to our clients begins with our core principle to operate in a conflict-free environment.</p>
                </div>
            </div>
            <div class="col-lg-6 col-xl-6 d-none d-lg-block">
                <div class="image-wrap-2">
                    <img src="~/Public/images/services-1-461x514.jpg" alt="" width="461" height="514" />
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-60 section-md-90 bg-whisper-lighten novi-background bg-cover">
    <div class="container">
        <div class="row row-fix">
            <div class="col-sm-12">
                <h3>Our Clients</h3>
            </div>
        </div>
        <div class="row row-40 row-fix">
            <div class="col-md-7 col-lg-5 col-xl-4">
                <div class="owl-carousel-dark">
                    <div class="owl-carousel owl-nav-bottom-left" data-items="1" data-stage-padding="0" data-loop="true" data-margin="30" data-mouse-drag="false" data-nav="true">
                        <div class="item">
                            <p>Among our clients, there are many world-renowned industry leaders. Their companies are now ranked as the most successful companies – thanks to us.</p>
                        </div>
                        <div class="item">
                            <p>Got really enjoyable experience with your product. Easy set up is a huge plus. I even didn’t turn to support service.</p>
                        </div>
                        <div class="item">
                            <p>I’m extremely satisfied with their work. My new website looks great and runs smoothly. The support is excellent too.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 col-xl-8">
                <div class="row shift-md-top-1 row-30">
                    <div class="col-sm-6 col-md-3">
                        <div class="link-image-wrap"><a class="link-image" href="#"><img src="~/Public/images/services-2-132x83.png" alt="" width="132" height="83" /></a></div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="link-image-wrap"><a class="link-image" href="#"><img src="~/Public/images/services-3-169x68.png" alt="" width="169" height="68" /></a></div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="link-image-wrap"><a class="link-image" href="#"><img src="~/Public/images/services-4-141x88.png" alt="" width="141" height="88" /></a></div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="link-image-wrap"><a class="link-image" href="#"><img src="~/Public/images/services-5-138x55.png" alt="" width="138" height="55" /></a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section parallax-container bg-black bg-image context-dark" data-parallax-img="/Public/images/bg-image-7.jpg">
    <div class="parallax-content">
        <div class="section-60 section-md-90 bg-overlay-cello">
            <div class="container">
                <div class="row row-fix">
                    <div class="col-sm-12 text-center">
                        <h3>What <span class="text-thin">We Do</span></h3>
                        <p class="text-white">Reckondit provides unparalleled guidance on audit, review, and other financial assurance <br class="d-none d-xl-inline-block"> and attestations matter in a cost effective way without draining your internal resources.</p>
                    </div>
                </div>
                <div class="row row-50">
                    <div class="col-sm-6 col-lg-4">
                        <article class="icon-box-vertical icon-box-vertical-sm">
                            <div class="unit flex-column unit-spacing-sm">
                                <div class="unit-left"><span class="novi-icon icon icon-primary icon-lg thin-icon-document-edit"></span></div>
                                <div class="unit-body">
                                    <h4>Advisory</h4>
                                    <p class="text-white-05">From strategy through execution, Reckondit’s Advisory practice helps clients build their next competitive advantage.</p>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <article class="icon-box-vertical icon-box-vertical-sm">
                            <div class="unit flex-column unit-spacing-sm">
                                <div class="unit-left"><span class="novi-icon icon icon-primary icon-lg thin-icon-user"></span></div>
                                <div class="unit-body">
                                    <h4>Assurance</h4>
                                    <p class="text-white-05">Working closely with public and private companies, we help solve complex business issues that our clients face.</p>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <article class="icon-box-vertical icon-box-vertical-sm">
                            <div class="unit flex-column unit-spacing-sm">
                                <div class="unit-left"><span class="novi-icon icon icon-primary icon-lg thin-icon-planet"></span></div>
                                <div class="unit-body">
                                    <h4>Tax Services</h4>
                                    <p class="text-white-05">Our Tax professionals are problem solvers, providing value to their clients through analyzing and interpreting tax policy, advising on intricate tax matters.</p>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <article class="icon-box-vertical icon-box-vertical-sm">
                            <div class="unit flex-column unit-spacing-sm">
                                <div class="unit-left"><span class="novi-icon icon icon-primary icon-lg thin-icon-money"></span></div>
                                <div class="unit-body">
                                    <h4>Public Sector Practice</h4>
                                    <p class="text-white-05">We often help federal, state &amp; local and multilateral development agencies address complex business issues; manage risk; and improve financial measures.</p>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <article class="icon-box-vertical icon-box-vertical-sm">
                            <div class="unit flex-column unit-spacing-sm">
                                <div class="unit-left"><span class="novi-icon icon icon-primary icon-lg thin-icon-thumb-up"></span></div>
                                <div class="unit-body">
                                    <h4>Business Management</h4>
                                    <p class="text-white-05">Our business management services provide companies and the individuals who run them with tools and strategies to improve operations and plan for the future.</p>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <article class="icon-box-vertical icon-box-vertical-sm">
                            <div class="unit flex-column unit-spacing-sm">
                                <div class="unit-left"><span class="novi-icon icon icon-primary icon-lg thin-icon-clock"></span></div>
                                <div class="unit-body">
                                    <h4>Financial Planning</h4>
                                    <p class="text-white-05">We help you build and maintain a desirable position on the market through a combination of financial planning services.</p>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-60 section-md-90 section-md-bottom-100 bg-white bg-image bg-image-1 novi-background custom-bg-image" style="background-image: url(/Public/images/services-1.jpg);">
    <div class="container">
        <div class="row row-fix justify-content-sm-center justify-content-lg-start">
            <div class="col-md-8 col-lg-6 col-xl-5">
                <h3>Why <span class="text-thin">Choose Us</span></h3>
                <p>We are passionate about developing long lasting relationships with our clients. Therefore, we will communicate with you frequently and continuously endeavor to add value to your business by patiently understanding your business environment and objectives. As your auditor, we will take a keen interest in helping you achieve your business objectives by identifying weaknesses in your business and pointing you in the right direction for your company to succeed.</p><a class="btn btn-primary" href="team.html">Read more</a>
            </div>
        </div>
    </div>
</section>

<section class="section-60 section-md-100 context-dark bg-accent novi-background bg-cover">
    <div class="container text-center text-lg-left">
        <div class="row row-fix justify-content-sm-center align-items-lg-center justify-content-lg-start row-30">
            <div class="col-lg-8 text-center">
                <h3>affordable business advice</h3>
            </div>
            <div class="col-lg-4 col-xl-3"><a class="btn btn-xl btn-white-outline" href="#">Learn more</a></div>
        </div>
    </div>
</section>
